# Dependências
node_modules/
.venv/
__pycache__/

# Ambiente
.env

# Logs
*.log
error.log
combined.log

# Backups temporários
backups/temp/*
uploads/temp/*

# Cache do WhatsApp
tokens/
.wwebjs_auth/
.wwebjs_cache/ 